<nav class="navbar navbar-light bg-dark">
    <div class="container">
      <a class="navbar-brand" href="">
        <img src="https://img.etimg.com/thumb/width-1200,height-900,imgsize-14570,resizemode-1,msid-95957362/industry/banking/finance/banking/excessive-outsourcing-of-banks-core-activities-will-lead-to-concentration-risk-rbi-ed-ajay-choudhary.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      <span class="text-light">WBANK</span>
      </a>
    </div>
  </nav>
